* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.content {
  background-color: #ffffff;
}

/*start head banner*/
.cover {
  background-color: #ebebeb;
  width: 100%;
}

.head {
  width: 100%;
}
@media (max-width: 920px) {
  .head {
    padding: 5px 20px;
  }
}

.logo-img {
  width: 240px;
}
@media (max-width: 920px) {
  .logo-img {
    width: 150px;
  }
}
.logo-img img {
  width: 100%;
}

.input-nav {
  display: none;
}
.input-nav:checked + nav .nav-list {
  transform: translateY(0);
  z-index: 1;
}
.input-nav:checked + nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.input-nav:checked + nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}
.input-nav:checked + nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggler {
  display: none;
  height: -moz-min-content;
  height: min-content;
  cursor: pointer;
}
@media (max-width: 920px) {
  .navbar-toggler {
    display: grid !important;
    float: right;
    margin-top: 20px;
  }
}

.bar {
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  background: grey;
  border-radius: 10%;
}

.nav-list {
  width: 100%;
}
@media (max-width: 920px) {
  .nav-list {
    display: grid;
    position: absolute;
    background-color: #ffffff;
    top: 70px;
    left: 0px;
    text-align: center;
    transform: translateY(-100%);
    z-index: -1;
    transition: 0.6s;
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
  }
}
@media (max-width: 1280px) {
  .nav-list {
    padding-left: 100px;
  }
}
.nav-list li {
  margin-right: 32px;
}
@media (max-width: 920px) {
  .nav-list li {
    padding: 10px 0;
    margin: auto;
  }
}
.nav-list li a {
  color: #1d1e21;
}
.nav-list li a:hover {
  color: #20bfb6;
}

.login-btn::before {
  content: "";
  width: 1px;
  height: 32px;
  position: absolute;
  left: -18px;
  top: -5px;
  background-color: #bebebe;
}
@media (max-width: 920px) {
  .login-btn::before {
    display: none;
  }
}

/*end head banner*/
/* start rent-banner*/
@media (max-width: 920px) {
  .rent-banner {
    display: block;
    padding: 10px 25px 100px 25px;
  }
}

.img-cover {
  width: 850px;
  height: 456px;
}
@media (max-width: 920px) {
  .img-cover {
    width: 100%;
  }
}
.img-cover img {
  width: 100%;
  height: 100%;
}

.rent-info {
  width: 69%;
}
@media (max-width: 920px) {
  .rent-info {
    width: 100%;
  }
}
.rent-info h1 {
  font-size: 60px;
  width: 80%;
}
@media (max-width: 920px) {
  .rent-info h1 {
    width: 100%;
    font-size: 35px;
  }
}
.rent-info p {
  margin-top: 32px;
  width: 69%;
}

.rent-information {
  width: 80%;
  padding: 20px 12px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 920px) {
  .rent-information {
    width: 95%;
    text-align: center;
    top: 87%;
  }
}
.rent-information form {
  flex: 1;
}
@media (max-width: 920px) {
  .rent-information form {
    display: block;
  }
}
.rent-information form div {
  flex: 1;
}
@media (max-width: 920px) {
  .rent-information form div {
    margin-bottom: 20px;
  }
}
.rent-information form button {
  padding: 10px 40px;
  border: none;
}
.rent-information form button:hover {
  background-color: #929395;
}
.rent-information input {
  border: none;
}
.rent-information input::-moz-placeholder {
  color: #bfbfbf;
}
.rent-information input::placeholder {
  color: #bfbfbf;
}

/* end rent-banner*/
/*start brands*/
.card {
  width: 90%;
  margin: 9rem auto;
}
@media (max-width: 1028px) {
  .card {
    display: block;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.slider {
  display: flex;
  padding: 0 2rem;
}
@media (max-width: 500px) {
  .slider {
    padding: 0 1rem;
  }
}
@media (max-width: 920px) {
  .slider {
    margin: 20rem auto 8rem auto;
  }
}

.btn-slide {
  background-color: rgba(146, 147, 149, 0.3);
  border-radius: 50%;
  border: none;
  font-size: 15px;
  color: #20bfb6;
  padding: 10px 15px;
}

/*end brands*/
/*start how work*/
.f-upper {
  text-transform: uppercase;
}

@media (max-width: 920px) {
  .rent-row {
    display: block;
  }
}

.rent-card {
  /*end how work*/
}
@media (max-width: 920px) {
  .rent-card {
    margin-bottom: 50px;
  }
}
.rent-card i {
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
  padding: 23px 25px;
}

/* start rent cars*/
.popular-cars {
  margin-bottom: 500px;
}
@media (max-width: 919px) {
  .popular-cars {
    margin-bottom: 250px;
  }
}
@media (min-width: 920) and (max-width: 1024px) {
  .popular-cars {
    margin-bottom: 300px;
  }
}

.popular-car-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 1.3rem;
}
@media (min-width: 768px) and (max-width: 920px) {
  .popular-car-row {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

.rent-car-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*flex-grow: 1;*/
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
}
@media (max-width: 920px) {
  .rent-car-details {
    margin: 0 auto 30px auto;
  }
}

.image-rent-car {
  width: 100%;
}

.price {
  padding: 10px 0;
}
.price a:hover {
  color: #929395;
}

.btn-all-vehicles {
  border: 1px solid #1d1e21;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 40px auto auto auto;
  color: #1d1e21;
}
.btn-all-vehicles:hover {
  background-color: #20bfb6;
  color: #ffffff;
  border-color: #ffffff;
}
.btn-all-vehicles i {
  padding-left: 5px;
}

/* end rent cars*/
/*start footer */
.footer {
  background-color: #010101;
}

.download-app {
  width: 95%;
  padding: 50px 700px 50px 60px;
  position: absolute;
  top: -170px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
@media (max-width: 920px) {
  .download-app div {
    margin: auto;
  }
}
@media (max-width: 920px) {
  .download-app {
    padding: 50px 20px;
  }
}

@media (max-width: 920px) {
  .download-icons {
    display: none;
  }
}
.download-icons div {
  position: absolute;
  bottom: 0;
  left: 400px;
}
@media (max-width: 1024px) {
  .download-icons div {
    left: 370px;
  }
}
.download-icons div + div {
  left: 150px;
}

.footer-row {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}
@media (max-width: 920px) {
  .footer-row {
    display: block;
    text-align: center;
  }
}

@media (max-width: 920px) {
  .logo-footer {
    margin: auto;
  }
}

.address {
  width: 13%;
}
@media (max-width: 920px) {
  .address {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .social-links {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

.link-social {
  width: 35px;
  height: 35px;
  padding: 10px 13px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-social + .link-social {
  margin-left: 10px;
}
.link-social:hover {
  cursor: pointer;
  border-color: #20bfb6;
}
.link-social:hover i {
  color: #20bfb6;
}

.copyright {
  border-top: 1px solid #505865;
  padding: 10px 0;
}

/*end footer *//*# sourceMappingURL=landing.css.map */